---
page_title: Where is Dana today?
---

<h1><%= page_title %></h1>

<p>
  <iframe src="https://player.twitch.tv/?channel=adanalife_" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
</p>

<%# <iframe src="https://www.twitch.tv/embed/adanalife_/chat" frameborder="0" scrolling="no" height="500" width="350"></iframe> %>
